mailman:
  config:
    # MTA (one of 'Manual', 'Postfix', or 'None')
    mta: None
    # Default URL pattern
    url_pattern: 'http://%s/mailman/'
    # Default URL host
    url_host: lists.example.com
    # Default email host
    email_host: lists.jerrykan.com
    # Extra mailman configuration settings
    extra_conf: |
      PRIVATE_ARCHIVE_URL = '/mailman/private'

  lists:
    # Domain the lists belong to
    example.org:
      # List name
      activelist:
        # List admin email address
        admin: sysadmin@example.org
        # hostname for web interface (defaults to domain)
        urlhost: www.example.org
        # domain of list email address (defaults to domain)
        emailhost: lists.example.org
        # Optional password (if no password provided, one will be generated and
        #   stored in the graint 'mailman:admin_password_<list_name>'
        password: 123sekret!
        # Configure the list settings. Available options can be viewed by
        #   running the following command on the mailman server:
        #     config_list -o - <listname>
        config:
          real_name: ActiveList
          reply_goes_to_list: True
          # Set the value to None to not manage the setting and use the
          #   currently configured value. Useful if you want to manage certain
          #   settings via the web interface instead.
          ban_list: None

      deadlist:
        # Ensure list is removed (archives will remain)
        absent: True
